
iBeacon_Demo.xcodeproj/project.xcworkspace/xcuserdata/Ayaka.xcuserdatad/UserInterfaceState.xcuserstate

iBeacon_Demo.xcodeproj/xcuserdata/Ayaka.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

iBeacon_Demo.xcodeproj/xcuserdata/Ayaka.xcuserdatad/xcschemes/iBeacon_Demo.xcscheme

iBeacon_Demo.xcodeproj/xcuserdata/Ayaka.xcuserdatad/xcschemes/xcschememanagement.plist
